#### Sets
Sets are a built-in data type in python used to store collections of unique items. They are unordered, meaning that the element do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [1]:
## create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [2]:
my_set={1,2,3,4,5,2,3,4}
print(my_set)

{1, 2, 3, 4, 5}

In [3]:
## basic set operation
## adding and removing elelments

my_set.add(6)
print(my_set)

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [4]:
## remove element fro  a set

my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [5]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [6]:
## pop method

removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [7]:
## clear all element

my_set.clear()
print(my_set)

set()

In [8]:
## set memebership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [9]:
## mathematical operation

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## union
union_set=set1.union(set2)
print(union_set)

##Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [10]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## difference
print(set1.difference(set2))

{1, 2, 3}

In [12]:
set1.difference_update(set2)
print(set1)

{1, 2, 3}

In [14]:
## symetric difference
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [17]:
## sets method
set1={1,2,3,4,5}
set2={3,4,5}
## is subset

print(set1.issubset(set2))

set1.issuperset(set2)

False

True

In [18]:
lt=[1,2,3,4,5,6,6,6]
set(lt)

{1, 2, 3, 4, 5, 6}

In [19]:
### counting unique words in text

text="in this tutoril we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'in', 'tutoril', 'sets', 'this', 'about', 'we', 'are', 'discussing'}
8